body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-image: url('../img/bg.png');
}

#bd-masthead {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 24px;
  border-top: 2px solid #fa7d3c;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
}
